{% load static %}
<footer>
    <div class="footer-container">

        <div class="copyright">
            <h3 class="footer-logo">
                <span class="footer-logo-driving">Driving</span> <span class="footer-logo-school">School</span>

            </h3>
            <p><br>Driving school<br><br>Copyright &copy;2020</p>
        </div>
        <div class="address">

             Dhalko,kathmanduL</p><br>
            <p>sagardriving12@gmail.com</p><br>

        </div>
        <div class="social-icons">
        <a href="#" class="twitter"><img src="{% static 'images/twitter.png' %}" height="29" width="29"></a>
        <a href="#" class="twitter"><img src="{% static 'images/twitter.png' %}"height="29" width="29"></a>
        <a href="#" class="twitter"><img src="{% static 'images/twitter.png' %}" height="29" width="29"></a>
    </div>
        <div class="clear"></div>
   

</footer>